<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
            class="glyphicon glyphicon-menu-down padRight"></span>Control
          Menu</a>
        <ul class="dropdown-menu" role="menu">
          <li onclick="ajaxRequest('/nyt')"><a href="javascript:void(0)">Pull latest from NYTimes</a></li>
          <li onclick="ajaxRequest('/googlenews')"><a href="javascript:void(0)">Pull latest from Google News</a></li>
          <li onclick="ajaxRequest('/fox')"><a href="javascript:void(0)">Pull latest from Fox News</a></li>
          <li class="divider"></li>
          <li onclick="ajaxPullAll()"><a href="javascript:void(0)">Pull latest from ALL sources</a></li>
          <li class="divider"></li>
          <li onclick="displayHelp()"><a href="javascript:void(0)">Help</a></li>
        </ul>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-home padRight padLeft"></span>Real&mdash;Time News Tracker</a>
      </li>
      <li>
        <a href="javascript:void(0)"><img id="logo" src="img/R-TNT_fitd.png" onclick="displayHelp()"></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
          <span class="glyphicon glyphicon-floppy-disk padRight"></span>Saved Articles</a>
        <ul id="savedArticlesUL" class="dropdown-menu" role="menu">
          <li onclick="displayHelp()"><a href="javascript:void(0)">R-TNT Directions and Help</a></li>          
          <li class="divider"></li>
          <% results.forEach(function(r) { 
            // still headline and url are still encoded 
          %>        
           <li id='saved-<%=r.uri.replace(/\W+/g, '')%>' onclick='loadArticle("<%= decodeURIComponent(r.headline) %>","<%= decodeURI(r.uri)%>", <%=r.article_id%>)'><a href="javascript:void(0)"><%= decodeURIComponent(r.headline) %></a></li>
         <% }); %>  
        </ul>
      </li>
      <li class="navbar-right">
        <div class="input-group small right">
          <input type="text" class="form-control" id="userSearchText" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" onclick="userSearch();"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
        <!-- <a href="/track"><span class="glyphicon glyphicon-search"></span>Search News</a> -->
      </li>
    </ul>
 <!--   
     <ul class="nav navbar-nav ">
    </ul>
  -->
  </div>
</nav>